[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "app/themes/blowfish"]
	path = app/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
